<div class="final">
    <div class="container">
        <div class="box">sports</div>
        
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum dicta possimus, incidunt et nulla dolores
            corporis corrupti, voluptatem delectus, perspiciatis consectetur nostrum facere repellendus! Corporis
            placeat dicta consequatur quidem, eum quasi aliquid ipsam quia cum doloremque dignissimos. Error voluptates
            beatae, culpa cupiditate assumenda nemo natus dolorem ratione voluptate alias! Atque debitis distinctio illo
            dolore vitae deserunt?</p>
    </div>
    <div class="container">
        <div class="box">weather</div>
       
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum dicta possimus, incidunt et nulla dolores
            corporis corrupti, voluptatem delectus, perspiciatis consectetur nostrum facere repellendus! Corporis
            placeat dicta consequatur quidem, eum quasi aliquid ipsam quia cum doloremque dignissimos. Error voluptates
            beatae, culpa cupiditate assumenda nemo natus dolorem ratione voluptate alias! Atque debitis distinctio illo
            dolore vitae deserunt?</p>
    </div>
    <div class="container">
        <div class="box">disasters</div>
        
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum dicta possimus, incidunt et nulla dolores
            corporis corrupti, voluptatem delectus, perspiciatis consectetur nostrum facere repellendus! Corporis
            placeat dicta consequatur quidem, eum quasi aliquid ipsam quia cum doloremque dignissimos. Error voluptates
            beatae, culpa cupiditate assumenda nemo natus dolorem ratione voluptate alias! Atque debitis distinctio illo
            dolore vitae deserunt?</p>
    </div>
    <div class="container">
        <div class="box">political</div>
       
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum dicta possimus, incidunt et nulla dolores
            corporis corrupti, voluptatem delectus, perspiciatis consectetur nostrum facere repellendus! Corporis
            placeat dicta consequatur quidem, eum quasi aliquid ipsam quia cum doloremque dignissimos. Error voluptates
            beatae, culpa cupiditate assumenda nemo natus dolorem ratione voluptate alias! Atque debitis distinctio illo
            dolore vitae deserunt?</p>
    </div>
</div>